apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: nginx-proxy
data:
  default.conf: |
    server {
        listen 80;
        server_name localhost;

        location / {
            # proxy_pass http://wordpress-service.wordpress-app.svc.cluster.local;
            proxy_pass http://10.112.86.62;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }


---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: nginx-proxy
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: nginx

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          # image: gcr.io/iac1-424123/ica:v1
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
          - name: config-volume
            mountPath: /etc/nginx/conf.d
      volumes:
        - name: config-volume
          configMap:
            name: nginx-config
            items:
            - key: default.conf
              path: default.conf
